<h1>User details</h1>
<h3><%=link_to("Create new user", {:action => "create"})%>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Details</th>
        <th>Actions</th>
    </tr>

<%@users.each do |user|%>
    <tr>
        <td><%user.name%></td>
        <td><%user.phone_number%></td>
        <td><%user.email%></td>
        <td><%user.details%></td>
        <td><%link_to("Show", "#")%>
            <%link_to("Edit", "#")%>
            <%link_to("Delete", "#")%>
        </td>
    </tr>
    <%end%>
</table>